<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--database server config-->
		<add key ="AuthType" value="0"/>   <!--0: windows auth | 1: sql server auth-->	
		<add key="Server" value="localhost"/>
		<add key="Database" value="BookShop2023"/>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
		<add key="Entropy" value=""/>
		
		<!--login status config-->
		<add key="UserAccount" value=""/>	<!--username account -->
		<add key="LoginStatus" value="0"/>	<!--0: logged out | 1: logged in-->
		<add key="LoginMode" value=""/>	<!--1: admin | 2: staff-->
		
		<add key="LastWindow" value="0"/>
		<add key="NumberProductPerPage" value="10"/>
		<add key="OpenLastWindow" value="1"/>
	</appSettings>
</configuration>